cardBack BITMAP "card_sprite\card-back.bmp"
cardStage BITMAP "card_sprite\card-stage.bmp"
fireType BITMAP "card_sprite\fire.bmp"
fightingType BITMAP "card_sprite\fighting.bmp"
electricType BITMAP "card_sprite\electric.bmp"
colorlessType BITMAP "card_sprite\colorless.bmp"
waterType BITMAP "card_sprite\water.bmp"
psychicType BITMAP "card_sprite\psychic.bmp"
grassType BITMAP "card_sprite\grass.bmp"
cardBackTrainer BITMAP "card_sprite\trainer-back.bmp"
cardBackEnergy BITMAP "card_sprite\energy-back.bmp"
fontTexture TGA "font_texture.tga"
modelBack BMP "card_sprite\back.bmp"
modelSides BMP "card_sprite\side.bmp"
