.friend-request {
    background-color: #facfc8;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    overflow: hidden;
}

.friend-request .image {
    width: 100px;
    height: 100px;
    background-color: #a7a7a7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.friend-request .info {
    flex-grow: 1;
    padding: 10px 20px;
}

.friend-request .info p {
    margin: 0;
    padding: 0;
}

.friend-request .info span {
    font-size: 45px;
}

.friend-request.message {
    padding: 10px 50px;
    font-family: 'Montserrat', sans-serif;
}

.friend-request button {
    padding: 0 20px;
    border: none;
}

.friend-request button.accept {
    background-color : #91e624;
}


.friend-request button.decline {
    background-color : #ff5959;
}

.friend-request button.accept:hover {
    background-color : #91ff00;
}


.friend-request button.decline:hover {
    background-color : #fa3333;
}

.log-item {
    background-color: #facfc8;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    overflow: hidden;
    padding: 15px 50px;
    transition: transform 200ms ease;
    margin-bottom: 20px;
}

.log-item:hover {
    transform: translate(-2px, -2px);
}

.log-item .server-name {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: 2px solid #fa3333;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.log-item .action {
    font-family: 'Montserrat', sans-serif;
}