.landing-page {
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-image: url('../../static/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35vw auto;
    font-size: 1.5vw;
}